.body {
  margin: 0;
}

.body * {
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.button-navigator {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.button {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.button-1 {
  background: 0;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 40px;
  margin-left: 20px;
  padding: 12px 25px;
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.logo {
  color: #e3b873;
}

.header {
  background-color: black;
  font-family: Nunito Sans;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

.header-navigation {
  list-style: none;
  display: flex;
}

.header-navigation_item {
  margin-right: 47px;
}

.header-navigation_item a {
  text-decoration: none;
  color: white;
}

.link {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  color: #e3b873;
}

.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative;
}

.hero-overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero-container {
  position: relative;
  z-index: 1;
}

.title {
  margin: 0;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
}

.dom {
  color: #e3b873;
}

.paragraf {
  margin: 0;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
}

.hero-1 {
  background: #131313;
}

.hero-container-1 {
  margin: 0;
  padding-top: 107px;
  padding-bottom: 414px;
  position: relative;
}

.navigation {
  margin-top: 107px;
  margin-right: 190px;
  margin-bottom: 52px;
  margin-left: 626px;
  display: inline;
}

.box-1 {
  display: inline;
}

.box-2 {
  display: block;
  margin: 176px 239px 34px 134px;
}

.box-3 {
  display: block;
  margin-right: 50px;
  margin-bottom: 42px;
  margin-left: 134px;
}

.box-4 {
  display: block;
  margin-right: 124px;
  margin-bottom: 34px;
  margin-left: 134px;
}

.box-5 {
  flex-direction: column;
  align-items: flex-start;
}

.box-6 {
  flex-direction: column;
  align-items: flex-start;
}

.box-7 {
  flex-direction: column;
  align-items: flex-start;
}

.link-1 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #e3b873;
}

.link-2 {
  list-style: none;
  text-decoration: none;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}

.subtitle {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
}

.paragraf-1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
}

.subtitle-1 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #e3b873;
}

.paragraf-2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}

.slider-1 {
  margin: 52px 134px 416px 626px;
  width: 679px;
  height: 482px;
}

@media screen and (max-width: 1440px) {
  .body {
    margin: 0;
  }

  .body * {
    box-sizing: border-box;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    height: 57px;
    align-items: center;
  }

  .header-navigation,
  .button-navigator {
    display: none;
  }

  .logo {
    padding-left: 18px;
  }

  .link {
    padding-right: 18px;
  }

  .title {
    padding-right: 18px;
    padding-bottom: 16px;
    padding-left: 18px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 132.83%;
  }

  .paragraf {
    padding-right: 18px;
    padding-bottom: 32px;
    padding-left: 18px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 135.84%;
  }

  .button {
    width: 100%;
    max-width: 320px;
    margin-right: 18px;
    margin-left: 18px;
    padding-top: 19px;
    padding-right: 70px;
    padding-bottom: 19px;
    padding-left: 70px;
    height: 51px;
    border-radius: 0px;
  }

  .button-1 {
    width: 100%;
    max-width: 320px;
    margin-right: 18px;
    margin-left: 18px;
    padding-top: 19px;
    padding-right: 50px;
    padding-bottom: 19px;
    padding-left: 50px;
    height: 51px;
    border-radius: 0px;
  }
}
