.body {
  margin: 0;
}

.body * {
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.button-navigator {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.button {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  outline: 0;
  border: 0;
  padding: 13px 33px;
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.button-1 {
  background: 0;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 40px;
  margin-left: 20px;
  padding: 12px 25px;
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

.logo {
  color: #e3b873;
}

.header {
  background-color: black;
  font-family: Nunito Sans;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

.header-navigation {
  list-style: none;
  display: flex;
}

.header-navigation_item {
  margin-right: 47px;
}

.header-navigation_item a {
  text-decoration: none;
  color: white;
}

.link {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  color: #e3b873;
}

.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative;
}

.hero-overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero-container {
  position: relative;
  z-index: 1;
}

.title {
  margin: 0;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
}

.dom {
  color: #e3b873;
}

.paragraf {
  margin: 0;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
}

.hero-1 {
  background: #131313;
}

.container-1 {
  max-width: 1440px;
  margin: 0 auto;
}

.box-1 {
  margin-top: 69px;
  margin-bottom: 42px;
  display: flex;
}

.box_1 {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.blok {
  margin-top: 42px;
  display: flex;
  flex-direction: row;
}

.blok-1 {
  display: flex;
  flex-direction: row;
}

.blok1 {
  margin-right: 124px;
}

.blok-2 {
  margin-right: 87px;
}

.navigation {
  list-style: none;
  display: flex;
}

.navigation-item {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.navigation-item a {
  color: #e3b873;
}

.navigation_item {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.navigation_item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

.subtitle {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  margin-bottom: 34px;
  text-transform: uppercase;
  color: #e3b873;
}

.paragraf-1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  margin-top: 0px;
  margin-right: 50px;
  margin-bottom: 0px;
  color: #ffffff;
}

.subtitle-1 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 9px;
  text-transform: uppercase;
  color: #e3b873;
}

.paragraf-2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  display: inline;
  color: #ffffff;
}

.korobin {
  padding: 107px 100px 90px 100px;
  display: flex;
  flex-direction: row;
}

.slider-1 {
  width: 679px;
  height: 482px;
  margin-top: 52px;
  margin-left: 50px;
}

.slider-box-1 {
  margin-right: 60px;
}

.text {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.vector {
  color: #e3b873;
  border-left: solid 2px;
  border-right: solid 2px;
}

.icon {
  margin: 0;
  padding-bottom: 257px;
  text-align: center;
}

.hero-2 {
  height: 1466px;
}

.slider_2 {
  margin-top: -200px;
  text-align: center;
}

.slider-2 {
  width: 817px;
  height: 434px;
  background-color: rgba(0, 0, 0, 0.8);
}

.button-2 {
  width: 85px;
  height: 85px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: #e3b873;
  text-align: center;
}

.button_2 {
  margin-top: -280px;
  margin-bottom: 280px;
  text-align: center;
}

.paragraf-3 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  color: #363636;
}

.box-2 {
  margin-top: 98px;
  margin-right: 378px;
  margin-bottom: 91px;
  margin-left: 377px;
  width: 680px;
  height: 130px;
}

.button-3 {
  width: 200px;
  height: 51px;
  border: none;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
  background: #e3b873;
}

.button-4 {
  width: 18px;
  height: 18px;
  background: #e3b873;
  border: none;
  border-radius: 1px;
}

.input-1 {
  text-align: center;
}

.paragraf-4 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 163.68%;
  color: #181818;
}

.box-3 {
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .body {
    margin: 0;
  }

  .body * {
    box-sizing: border-box;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    height: 57px;
    align-items: center;
  }

  .header-navigation,
  .button-navigator {
    display: none;
  }

  .logo {
    padding-left: 18px;
  }

  .link {
    padding-right: 18px;
  }

  .title {
    padding-right: 18px;
    padding-bottom: 16px;
    padding-left: 18px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 132.83%;
  }

  .paragraf {
    padding-right: 18px;
    padding-bottom: 32px;
    padding-left: 18px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 135.84%;
  }

  .button {
    width: 100%;
    max-width: 320px;
    margin-right: 18px;
    margin-left: 18px;
    padding-top: 19px;
    padding-right: 70px;
    padding-bottom: 19px;
    padding-left: 70px;
    height: 51px;
    border-radius: 0px;
  }

  .button-1 {
    width: 100%;
    max-width: 320px;
    margin-right: 18px;
    margin-left: 18px;
    padding-top: 19px;
    padding-right: 50px;
    padding-bottom: 19px;
    padding-left: 50px;
    height: 51px;
    border-radius: 0px;
  }
}
